.advantages {
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-bottom: 21px;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 38px;

  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;

    font-size: 60px;
    line-height: 60px;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style: none;

  counter-reset: number 0;

  @media (min-width: $tablet-width) {
    display: grid;
    margin-bottom: 0;

    grid-column-gap: 57px;
    grid-row-gap: 52px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-column-gap: 79px;
    grid-row-gap: 79px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.advantages__item {
  position: relative;

  max-width: 500px;
  min-height: 60px;
  margin-bottom: 20px;
  padding-top: 2px;
  padding-left: 80px;

  counter-increment: number;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding: 113px 80px 80px 0;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    padding-right: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: $color-green;
    background-image: url("../img/svg/icon-leaf.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
    }
  }

  &--tub::before {
    background-image: url("../img/svg/icon-tub.svg");
  }

  &--eat::before {
    background-image: url("../img/svg/icon-eat.svg");
  }

  &--libra::before {
    background-image: url("../img/svg/icon-libra.svg");
  }

  &::after {
    content: counter(number);
    position: absolute;
    top: -40px;
    left: 115px;
    z-index: -1;

    display: none;

    font-size: 280px;
    line-height: 280px;
    color: $color-grey;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }
}

.advantages__text {
  margin: 0;

  font-family: $font-family--arial;
  color: $color-dark-grey;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
