.advantages__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__item {
  position: relative;

  margin-bottom: 20px;
  padding-left: 80px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: $color-green;
    background-image: url("../img/svg/icon-leaf.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--tub::before {
    background-image: url("../img/svg/icon-tub.svg");
  }

  &--eat::before {
    background-image: url("../img/svg/icon-eat.svg");
  }

  &--libra::before {
    background-image: url("../img/svg/icon-libra.svg");
  }
}

.advantages__text {
  margin: 0;

  font-family: $font-family--arial;
  color: $color-dark-grey;
}
