.button {
  display: block;
  padding: 10px 20px;
  font-family: $font-family--oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $color-white;
  text-transform: uppercase;
  text-align: center;
  background-color: $color-green;
  border: 0;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: $color-green2;
}

.button:active {
  color: rgba($color-white, 0.3);
}
