.button {
  display: block;
  padding: 11px 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: $font-family--oswald;
  text-align: center;
  color: $color-white;
  text-transform: uppercase;

  background-color: $color-green;
  border: 0;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $color-green2;
  }

  &:active {
    color: rgba($color-white, 0.3);
  }
}
