.example {
  background-color: $color-grey4;

  @media (min-width: $tablet-width) {
    background-color: $color-white;
  }
}

.example__title {
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    margin-bottom: 75px;
  }
}

.example__content {
  min-width: $mobile-width;
  margin: 0 auto;
  padding: 0 20px;


  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
    padding: 0 30px;
  }

  @media (min-width: $laptop-width) {
    max-width: $laptop-width;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    padding: 0;
  }
}

.example__wrapper {
  @media (min-width: $desktop-width) {
    padding-top: 70px;

    background-color: $color-grey;
  }
}

.example__column {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    max-width: $desktop-width;
    margin: 0 auto;
    padding: 0 110px;
  }
}

.example__text {
  margin: 0;
  margin-bottom: 25px;

  font-family: $font-family--arial;
  color: $color-dark-grey;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.example__result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    justify-content: stretch;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.example__item {
  width: 44%;
  margin: 0;
  margin-bottom: 30px;
  padding: 10px;

  text-align: center;

  border: 1px solid $color-grey5;
  border-radius: 5px;

  @media (min-width: $tablet-width) {
    width: 162px;
    margin-right: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 60px;
  }
}

.example__term {
  margin-bottom: 10px;

  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__value {
  position: relative;
  bottom: -27px;

  width: 75px;
  margin: 0 auto;
  margin-top: -27px;
  padding: 0 10px;

  font-size: 12px;
  line-height: 12px;
  color: $color-dark-grey;

  background-color: $color-grey4;


  @media (min-width: $tablet-width) {
    bottom: -17px;

    width: 122px;
    margin-top: -17px;

    font-size: 14px;
    line-height: 14px;

    background-color: $color-white;
  }

  @media (min-width: $desktop-width) {
    background-color: $color-grey;
  }
}

.example__costs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0;
  margin-bottom: 40px;

  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 215px;
    margin-left: auto;

    font-size: 20px;
    line-height: 20px;
    text-align: end;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    max-width: none;
    margin: 0;
  }
}

.example__food {
  margin-right: 4px;

  @media (min-width: $tablet-width) {
    margin-right: 0;
    margin-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 40px;
    margin-bottom: 0;
  }
}

.example__price {
  margin: 0;
}
