.form {
  margin-bottom: 32px;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
    padding-top: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 82px;
    padding-top: 23px;
  }
}

.form__wrapper {
  @media (min-width: $tablet-width) {
    padding-right: 67px;
    padding-left: 70px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.form__title {
  margin: 0;
  margin-bottom: 38px;
  padding: 0 20px;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: $color-black;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    padding: 0;

    font-size: 60px;
    line-height: 60px;
  }
}

.form__text {
  margin: 0;
  margin-bottom: 39px;
  padding: 0 20px;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 340px;
    margin-bottom: 68px;
    padding: 0;

    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
  }
}

.form__list {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  &--data {
    color: $color-dark-grey;
  }

  &--programs {
    color: $color-black2;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $tablet-width) {
    &--additionally {
      display: grid;

      grid-column-gap: 54px;
      grid-row-gap: 21px;
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (min-width: $desktop-width) {
    grid-gap: 80px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.form__block {
  margin: 0;
  padding: 0 20px 24px 20px;

  border: none;

  &--data,
  &--programs {
    border-bottom: 1px solid $color-grey3;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-bottom: 25px;

    &--data {
      border-bottom: none;
    }

    &--programs {
      border: 1px solid $color-grey3;
    }
  }
}

.form__block--comment {
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 66px;
  }
}

.form__block--contacts {
  @media (min-width: $tablet-width) {
    margin-bottom: 66px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 46px;
  }
}

.form__block--additionally {
  padding-bottom: 39px;

  @media (min-width: $tablet-width) {
    padding-bottom: 37px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 44px;
  }
}

.form__block--data {
  @media (min-width: $tablet-width) {
    margin-bottom: 73px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form__item {
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
  }

  &--programs {
    margin-bottom: 24px;
  }

  &--additionally {
    margin-bottom: 25px;

    @media (min-width: $tablet-width) {
      margin-bottom: 22px;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.form__label {
  display: grid;
  align-items: center;

  grid-template-columns: max-content 1fr;
}

.form__text-field {
  margin-right: 14px;

  @media (min-width: $tablet-width) {
    margin-right: 18px;
  }

  &--contacts {
    margin-right: 12px;

    @media (min-width: $tablet-width) {
      margin-right: 20px;
    }
  }

  &--phone {
    @media (min-width: $tablet-width) {
      margin-right: 16px;
    }
  }
}

.form__text-field--number {
  margin-right: 16px;

  @media (min-width: $tablet-width) {
    margin-right: 20px;
  }
}

.form__input {
  width: 100%;
  padding: 13px 15px 12px;

  font-size: 16px;
  line-height: 18px;
  color: $color-dark-grey;
  text-transform: uppercase;

  border: none;
  outline: 1px solid $color-dark-grey2;

  @media (min-width: $tablet-width) {
    padding: 10px 18px 10px;

    font-size: 20px;
    line-height: 30px;
  }

  &::placeholder {
    color: $color-dark-grey;
  }

  &:hover {
    outline: 1px solid $color-grey5;
  }

  &:focus {
    outline: 2px solid $color-dark-grey;
  }

  &--error,
  &--error:hover,
  &--error:focus {
    outline: 2px solid $color-error;
  }
}

.form__block--programs {
  margin-bottom: 27px;
  padding-top: 29px;
  padding-bottom: 25px;

  color: $color-black2;

  @media (min-width: $tablet-width) {
    margin-bottom: 75px;
    padding-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.form__radio-label {
  position: relative;

  display: block;
  padding-left: 46px;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding-left: 88px;
  }
}

.form__radio-label::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;

  width: 30px;
  height: 30px;

  border: 1px solid $color-grey5;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    left: 28px;

    width: 40px;
    height: 40px;
  }
}

.form__radio:checked + .form__radio-label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 8px;

  width: 13px;
  height: 13px;

  background-color: $color-green;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    top: 6px;
    left: 39px;

    width: 18px;
    height: 18px;
  }
}

.form__radio:hover + .form__radio-label::before,
.form__radio:focus + .form__radio-label::before {
  border-color: $color-dark-grey3;
}

.form__legend {
  margin-bottom: 35px;

  font-weight: 400;
  font-size: 24px;
  line-height: 26px;

  @media (max-width: $tablet-width - 1) {
    &--contacts {
      max-width: 181px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__legend--comment {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }
}

.form__legend--contacts {
  @media (min-width: $tablet-width) {
    margin-bottom: 77px;
  }
}

.form__legend--additionally {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 61px;
  }
}

.form__label--contacts {
  position: relative;
}

.form__input--contacts {
  padding-right: 45px;
  padding-left: 14px;

  @media (min-width: $tablet-width) {
    padding-left: 20px;
  }
}

.form__input-icon {
  position: absolute;
  top: 50%;
  right: 15px;

  color: $color-black2;

  transform: translateY(-50%);
}

.form__input-icon--email {
  @media (min-width: $tablet-width) {
    right: 17px;
  }

  @media (min-width: $desktop-width) {
    right: 20px;
  }
}

.form__input--contacts:focus + .form__input-icon {
  color: $color-green;
}

.form__input--error + .form__input-icon {
  color: $color-error;
}

.form__textarea {
  min-height: 148px;
  padding: 9px 14px;

  resize: none;

  @media (min-width: $tablet-width) {
    min-height: 173px;
    padding: 9px 18px;
  }
}

.form__checkbox-label {
  position: relative;

  display: block;
  padding-left: 46px;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
  }
}

.form__checkbox-label::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;

  width: 30px;
  height: 30px;

  border: 1px solid $color-grey5;

  @media (min-width: $tablet-width) {
    left: 0;

    width: 40px;
    height: 40px;
  }
}

.form__checkbox:checked + .form__checkbox-label::before {
  background-image: url("../img/svg/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__checkbox:hover + .form__checkbox-label::before,
.form__checkbox:focus + .form__checkbox-label::before {
  border-color: $color-dark-grey3;
}

.form__radio:disabled + .form__radio-label,
.form__radio:disabled + .form__radio-label::before,
.form__radio:disabled + .form__radio-label::after,
.form__checkbox:disabled + .form__checkbox-label,
.form__checkbox:disabled + .form__checkbox-label::before,
.form__checkbox:disabled + .form__checkbox-label::after {
  opacity: 0.3;
}

.form__bottom-block {
  padding-right: 20px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    padding: 0;
  }
}

.form__button {
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 10px;

  font-size: 16px;
  line-height: 20px;

  @media (min-width: $tablet-width) {
    max-width: 282px;
    margin-right: 62px;
    margin-bottom: 0;
    padding-top: 16px;
    padding-bottom: 16px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    max-width: 568px;
    margin-right: 82px;
  }
}

.form__signature {
  display: block;
  margin: 0 auto;

  font-size: 14px;
  line-height: 16px;
  font-family: $font-family--arial;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;

    font-size: 16px;
    line-height: 16px;
  }
}

.form__column {
  @media (min-width: $desktop-width) {
    display: grid;
    margin-bottom: 69px;

    grid-gap: 80px;
    grid-template-columns: 1fr 1fr;
  }
}

.form__list--contacts {
  @media (min-width: $desktop-width) {
    display: grid;

    grid-gap: 77px;
    grid-template-columns: 1fr 1fr;
  }
}
