.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  top: -46px;
  right: 20px;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.main-nav__toggle::before,
.main-nav__toggle::after {
  position: absolute;
  content: "";
  top: 12px;
  left: 0;
  width: 24px;
  height: 1px;
  background-color: $color-black;
}

.main-nav__toggle::before {
  transform: rotate(45deg);
}

.main-nav__toggle::after {
  transform: rotate(-45deg);
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  border-top: 1px solid $color-grey2;
}

.main-nav__link {
  display: block;
  padding: 15px 20px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.main-nav__link:hover,
.main-nav__link:focus {
  opacity: 0.6;
}

.main-nav__link:focus {
  opacity: 0.3;
}

.main-nav__link.active {
  pointer-events: none;
}
