.main-nav {
  position: relative;

  @media (min-width: $tablet-width) {
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    padding-left: 80px;
  }
}

.main-nav__toggle {
  position: absolute;
  top: -46px;
  right: 20px;

  width: 24px;
  height: 24px;
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }
}


.main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;

  width: 24px;
  height: 2px;

  background-color: $color-black;
  box-shadow: 0 8px 0 0 $color-black, 0 16px 0 0 $color-black;
}


.main-nav.open .main-nav__toggle::before,
.main-nav.open .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 12px;
  left: 0;

  width: 24px;
  height: 1px;

  background-color: $color-black;
  box-shadow: none;
}

.main-nav.open .main-nav__toggle::before {
  transform: rotate(45deg);
}

.main-nav.open .main-nav__toggle::after {
  transform: rotate(-45deg);
}

@media (max-width: $tablet-width - 1) {
  .main-nav__list {
    display: none;
  }

  .main-nav.open .main-nav__list {
    display: block;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;

    grid-gap: 40px;
    grid-template-columns: max-content max-content max-content;
  }
}

.main-nav.close .main-nav__list {
  display: none;
}

.main-nav__link {
  display: block;
  padding: 15px 20px;

  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  border-bottom: 1px solid $color-grey2;

  @media (min-width: $tablet-width) {
    display: inline;
    padding: 5px 0;

    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: start;

    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__link.active {
  pointer-events: none;

  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $color-green;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__link--index {
    color: $color-white;
  }

  .main-nav__link--index.active {
    border-color: $color-white;
  }
}
