.main-nav {
  position: relative;
}

.main-nav__toggle {
  position: absolute;
  top: -46px;
  right: 20px;

  width: 24px;
  height: 24px;

  background-color: transparent;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 0;

    width: 24px;
    height: 1px;

    background-color: $color-black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    width: 440px;
  }

  @media (min-width: $tablet-width) {
    width: 480px;
  }
}

@media (min-width: $tablet-width) {
  .main-nav__item {
    margin-left: 20px;

    &:first-child {
      margin-left: 0;
    }
  }
}

.main-nav__link {
  display: block;
  padding: 15px 20px;

  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  border-bottom: 1px solid $color-grey2;

  @media (min-width: $tablet-width) {
    padding: 5px 0;

    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__link.active {
  pointer-events: none;

  @media (min-width: $tablet-width) {
    border-bottom: 2px solid $color-green;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__link--index {
    color: $color-white;
  }

  .main-nav__link--index.active {
    border-color: $color-white;
  }
}
