.page-header__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 24px 30px;

    &--inner {
      padding-top: 26px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 53px 110px 54px;
  }
}

.page-header__logo {
  display: block;
  padding: 12px 20px 15px;

  border-bottom: 1px solid $color-grey2;

  @media (min-width: $tablet-width) {
    padding: 0;

    border: none;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:not(a[href]) {
    pointer-events: none;
  }
}

.page-header__logo-image {
  width: 190px;
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}
