.page-footer__logo {
  display: flex;
  justify-content: center;
  padding: 20px 15px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:not(a[href]) {
    pointer-events: none;
  }
}

.page-footer__social {
  border-top: 1px solid $color-grey3;
  border-bottom: 1px solid $color-grey3;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-footer__copyright-text {
  font-size: 16px;
  line-height: 18px;
  font-family: $font-family--arial;
  color: $color-dark-grey;
}
