.programs {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 71px;
  }
}

.programs__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (min-width: $desktop-width) {
    display: grid;
    justify-content: space-between;

    grid-gap: 80px;
    grid-template-columns: 1fr 1fr;
  }
}

.programs__item {
  position: relative;

  margin-bottom: 20px;
  padding: 30px 20px 0 20px;

  background-color: $color-grey;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    padding: 77px 280px 56px 52px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding: 75px 52px 57px;
  }
}

.programs__icon {
  position: absolute;
  top: 24px;

  width: 50px;
  height: 50px;

  background-color: $color-green;
  border-radius: 50%;

  @media (max-width: $tablet-width - 1) {
    left: 22px;
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 92px;
    right: 61px;

    width: 200px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    top: 48px;
    left: 52px;

    width: 100px;
    height: 100px;
  }

  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 3px);
    left: 50%;

    transform: translate(-50%, -50%);
  }

  &--slim::before {
    width: 36px;
    height: 50px;

    background-image: url("../img/svg/cat-slim.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      top: calc(50% - 15px);

      width: 140px;
      height: 192px;

      background-size: 140px 192px;
    }

    @media (min-width: $desktop-width) {
      top: calc(50% - 10px);

      width: 70px;
      height: 97px;

      background-size: 70px 97px;
    }
  }

  &--pro::before {
    top: 50%;

    width: 67px;
    height: 50px;

    background-image: url("../img/svg/cat-pro.svg");
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: $tablet-width) {
      width: 268px;
      height: 200px;

      background-size: 268px 200px;
    }

    @media (min-width: $desktop-width) {
      width: 134px;
      height: 56px;

      background-size: 134px 56px;
    }
  }
}

.programs__title {
  margin: 0 0 30px 90px;
  margin-left: 70px;

  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 26px;

    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 76px;
    margin-left: 162px;

    &--pro {
      margin-left: 161px;
    }
  }
}

.programs__text {
  margin: 0;
  padding-bottom: 21px;

  font-family: $font-family--arial;

  border-bottom: 1px solid $color-grey3;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;

    font-size: 16px;
    line-height: 24px;
    border-bottom: none;

    &--pro {
      max-width: 342px;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: none;
    margin-bottom: 27px;
    padding-bottom: 0;
  }
}

.programs__link {
  position: relative;

  display: inline-block;
  padding: 20px 0 21px;
  padding-right: 48px;

  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;

  &--pro {
    padding-right: 51px;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-right: 59px;

    font-size: 20px;
    line-height: 30px;

    border-top: none;
  }

  @media (min-width: $tablet-width) {
    align-self: self-end;
    margin-top: auto;
  }

  &:active {
    opacity: 0.3;
  }
}

.programs__link::before {
  content: "";
  position: absolute;
  top: calc(50% - 8px);
  right: 10px;

  width: 7px;
  height: 12px;

  background-image: url("../img/svg/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;

  transition: 0.3s ease-out;

  @media (min-width: $tablet-width) {
    top: calc(50% - 7px);
  }
}

.programs__link::after {
  content: "";
  position: absolute;
  top: calc(50% - 3px);
  right: 15px;

  width: 18px;
  height: 2px;

  background-color: $color-black;

  transition: 0.3s ease-out;

  @media (min-width: $tablet-width) {
    top: calc(50% - 2px);
  }
}

.programs__link:hover::before {
  right: 0;
}

.programs__link:hover::after {
  right: 5px;

  width: 28px;
}
