@media (min-width: $tablet-width) {
  .promo {
    position: relative;

    padding: 30px 82px 540px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    padding: 30px 190px 185px;
  }
}

.promo__wrapper {
  position: relative;

  margin-bottom: 150px;
  padding: 20px 20px 170px;

  text-align: center;
  color: $color-white;

  background-color: $color-green;
  background-image: url("../img/bg/cat-green-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-width: $tablet-width) {
    position: static;

    width: 430px;
    margin: 0;
    padding: 0;

    text-align: left;
    color: $color-black;

    background: none;
  }
}

.promo__title {
  margin: 0 auto 20px;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 40px;

    font-size: 60px;
    line-height: 60px;
  }
}

.promo__text {
  margin: 0 auto;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 45px;

    font-size: 20px;
    line-height: 20px;
  }
}

.promo__image {
  position: absolute;
  bottom: -140px;
  left: 50%;

  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    bottom: 0;
    z-index: -1;

    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    left: calc(50% + 60px);

    width: 552px;
    height: 499px;
  }
}

.promo__wrapper-button {
  margin-right: 20px;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    max-width: 400px;
    margin: 0;
  }
}
