.promo {
  @media (min-width: $tablet-width) {
    position: relative;

    padding: 40px 113px 504px;
  }

  @media (min-width: $desktop-width) {
    padding: 58px 187px 184px;
  }
}

.promo__wrapper {
  position: relative;

  margin-bottom: 138px;
  padding: 26px 20px 161px;

  text-align: center;
  color: $color-white;

  background-color: $color-green;
  background-image: url("../img/bg/cat-green-bg@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bg/cat-green-bg@2x.jpg");
    background-size: cover;
  }

  @media (min-width: $tablet-width) {
    position: static;

    width: 430px;
    margin: 0;
    margin-bottom: 49px;
    padding: 0;
    padding-left: 4px;

    text-align: left;
    color: $color-black;

    background: none;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 51px;
  }
}

.promo__title {
  max-width: 320px;
  margin: 0 auto 25px;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    max-width: none;
    margin: 0;
    margin-bottom: 41px;

    font-size: 60px;
    line-height: 60px;
  }
}

.promo__text {
  margin: 0 auto;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin: 0;

    font-size: 20px;
    line-height: 20px;
  }
}

.promo__image {
  position: absolute;
  bottom: -134px;
  left: 50%;

  transform: translateX(-50%);

  @media (min-width: $tablet-width) {
    bottom: -22px;
    z-index: -1;

    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop-width) {
    bottom: 52px;
    left: calc(50% + 115px);

    width: 552px;
    height: 499px;
  }
}

.promo__wrapper-button {
  margin-right: 20px;
  margin-left: 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 3px;
    max-width: 460px;
  }
}

.promo__button {
  @media (min-width: $tablet-width) {
    display: inline-flex;
    padding: 17px 26px;

    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 18px 26px 16px;
  }
}
