.slider {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 708px;
  }
}

.slider__images {
  position: relative;
  display: flex;

  width: 320px;
  height: 240px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    width: 708px;
    height: 530px;
  }
}

.slider__image--before {
  width: 50%;
  overflow: hidden;
}

.slider__image--after {
  position: relative;
  width: 50%;
  overflow: hidden;
}

.slider__cat-before {
  max-width: 320px;

  @media (min-width: $tablet-width) {
    width: 708px;
    max-width: none;
    height: 530px;
  }
}

.slider__cat-after {
  position: absolute;
  right: 0;
  top: 0;
  max-width: 320px;
}

@media (min-width: $tablet-width) {
  .slider__cat-after {
    width: 708px;
    max-width: none;
    height: 530px;
  }
}

.slider__range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 572px;
  }
}

.slider__button {
  padding: 0;

  font-size: 16px;
  line-height: 20px;
  font-family: $font-family--oswald;
  text-transform: uppercase;

  background-color: transparent;
  border: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $tablet-width) {
  .slider__toggle {
    width: 428px;
  }
}
