.social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 10px 0;

  list-style: none;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.social__link:hover .social__icon--instagram,
.social__link:focus .social__icon--instagram,
.social__link:hover .social__icon--vk,
.social__link:focus .social__icon--vk {
  fill: $color-green;
}

.social__link:active .social__icon--instagram,
.social__link:active .social__icon--vk {
  opacity: 0.3;

  fill: $color-green;
}

.social__link:hover .social__icon--facebook {
  stroke: $color-green;
}

.social__link:active .social__icon--facebook {
  opacity: 0.3;

  stroke: $color-green;
}
