// Color

$color-white: #ffffff;
$color-black: #000000;
$color-black1: #111111;
$color-black2: #222222;
$color-green: #68b738;
$color-green2: #5eaa2f;
$color-grey: #f2f2f2;
$color-grey2: #e6e6e6;
$color-grey3: #d9d9d9;
$color-grey4: #eaeaea;
$color-grey5: #cdcdcd;
$color-grey6: #d3d3d3;
$color-dark-grey: #444444;
$color-dark-grey2: #e7e7e7;
$color-dark-grey3: #bababa;
$color-dark-grey4: #666666;
$color-error: #ff8282;

// Fonts

$font-family--oswald: "Oswald", "Arial", sans-serif;
$font-family--arial: "Arial", sans-serif;

// Viewports

$mobile-width: 320px;
$tablet-width: 768px;
$laptop-width: 1024px;
$desktop-width: 1440px;
